@import url(http://fonts.googleapis.com/css?family=Pacifico);
/*====================header===============*/
header{
	background-color: #470024
}
header h1 {
	color:#fff;
}

/*=======================nav==================*/
.nav-tabs a:hover {
  color: #555;
  cursor: default;
  background-color: #006666;
  border: 1px solid #ddd;
  border-bottom-color: transparent;}
.nav{
	padding-top:60px;
}

/*======================================jumbotron=====================*/
.jumbotron {
	background-image: url("../img/hero.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height:450px;
}

.jumbotron h2 {
	font-family: 'Pacifico' Helvetica;
	color: #006666;
	font-size: 4em;
	padding-top: 2.5em;
}


/*================================social media==========================*/

.social{
	border-right: 1px solid #fff 5em;
	border-left: 1px solid #fff;
}

.footer {
	padding-top: 20px;
	background-color: #470024;
}

.footer a {
	text-decoration: none;
	color: #fff;
}

.footer .fine-print{
	margin-top: 10px;
	margin-bottom: 15px;
	color: #505050;
	font-size: .8em;
}


/*==================================MEDIA 	QUERIES==========================*/

@media (max-width: 768px){
	.centered {
		float:none;
		margin:0 auto;
	} 
	nav {
		padding-top: 0px;
		top:5px;
	}
	.nav{
		margin-bottom: 5px;
	}
	.social{
		text-align: center;
		font-size: 45px;
	}
	.social i{
		margin: 20px, 10px, 0;
	}
}
















